<header>
  <a href="#home" class="logo">
    <span class="green rotate-left">[</span>
    <span class="fly-in">S</span>
    <span class="fly-in">a</span>
    <span class="fly-in">S</span>
    <span class="fly-in">c</span>
    <span class="green rotate-left">]</span>
  </a>

  <div id="burgerMenu" class="burger-menu" (click)="toggleMenu()">
    <span id="span-1"></span>
    <span id="span-2"></span>
    <span id="span-3"></span>
  </div>


  <div *ngIf="isMenuOpen" class="dropdown-menu">
    <div *ngFor="let navLink of navLinkData; let i = index;" class="nav-border">
      <a class="nav-links" href="{{ navLinkData[i].link }}" (click)="toggleMenu()">{{ navLinkData[i].text }}</a>
      <div class="nav-border-left"></div>
      <div class="nav-border-bottom"></div>
    </div>
  </div>

</header>