header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 70px;
  // border-bottom: 2px solid rebeccapurple;
  background-color: var(--bg-cream);

  .icons {
    font-size: 48px;
    height: 50px;
    width: 50px;
  }

}