<header>
  <a href="#home" class="logo">
    <span class="green rotate-left">[</span>
    <span class="fly-in">S</span>
    <span class="fly-in">a</span>
    <span class="fly-in">S</span>
    <span class="fly-in">c</span>
    <span class="green rotate-left">]</span>
  </a>

  <div id="burgerMenu" [ngClass]="{'burger-cross': isMenuOpen, 'burger-menu': !isMenuOpen}" (click)="toggleMenu()">
    <span id="span-1"></span>
    <span id="span-2"></span>
    <span id="span-3"></span>
  </div>


  <div *ngIf="isMenuOpen" class="dropdown-menu">
    <div class="link-wrapper">
      <!-- <a href="#mySkills" class="nav-links" (click)="toggleMenu()">mySkills href TEST</a>
      <a routerLink="/" [queryParams]="{ fragment: 'mySkills' }" class="nav-links" (click)="toggleMenu()">mySkills
        routerLink TEST</a> -->

      <!-- <a routerLink="/imprint" class="nav-links" (click)="toggleMenu()">Impressum routerLink TEST</a>-->



      <div *ngFor="let navLink of navLinkData; let i = index;" class="nav-border">
        <a class="nav-links" href="{{ navLinkData[i].link }}" (click)="toggleMenu()">{{ navLinkData[i].text }}</a>
        <div class="nav-border-left"></div>
        <div class="nav-border-bottom"></div>
      </div>

      <div class="nav-border">
        <a class="nav-links" routerLink="/imprint" (click)="toggleMenu()">Legal notice</a>
        <div class="nav-border-left"></div>
        <div class="nav-border-bottom"></div>
      </div>

      <a class="nav-links" (click)="scrollToPrivacy();toggleMenu();">Privacy TEST</a>

      <!-- TODO  <div class="nav-border">
        <a class="nav-links" routerLink="/imprint" (click)="toggleMenu()">Privacy policy</a>
        <div class="nav-border-left"></div>
        <div class="nav-border-bottom"></div>
      </div> -->



    </div>
  </div>

</header>