<footer>

  <div class="footer-top">
    <a href="#home" class="logo">
      <span class="green rotate-left">[</span>
      <span class="fly-in">S</span>
      <span class="fly-in">a</span>
      <span class="fly-in">S</span>
      <span class="fly-in">c</span>
      <span class="green rotate-left">]</span>
    </a>

    <div class="social-wrapper">
      <a href="mailto:sascha@strandco.de">
        <img class="email-logo" src="./assets/img/logo-email.png" alt="">
      </a>
      <a href="https://github.com/strandcode" target="_blank">
        <img src="./assets/img/logo-github.png" alt="">
      </a>
      <a href="https://www.linkedin.com/in/sascha-schr%C3%B6der/" target="_blank">
        <img src="./assets/img/logo-linkedin.png" alt="">
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <a class="mpos-1" href="mailto:sascha@strandco.de">sascha@strandco.de</a>

    <div class="mpos-2 legal-wrapper">
      <a routerLink="/imprint" target="_blank">Legal notice</a>
      <a href="/privacy" target="_blank">Privacy policy</a>
    </div>
    <div class="legal-wrapper mpos-3">
      &copy; Sascha Schröder 2023
    </div>
  </div>


</footer>