footer {
  background-color: black;
  padding: 50px;

  .logo-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: green;

    img {
      height: 30px;
      object-fit: contain;
      transition: all 125ms ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--fc-second);
        transform: scale(1.03) translateY(-1px);
        filter: invert(42%) sepia(96%) saturate(808%) hue-rotate(130deg) brightness(101%) contrast(103%);
        transition: all 125ms ease-in-out;
      }
    }
  }

  .footer-link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;


    .logo {
      font-size: 1.5rem;
      font-family: var(--ff-overpass);
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--bg-cream);
      cursor: pointer;
      margin-bottom: 10px;
      transition: all 125ms ease-in-out;

      &:hover {
        color: var(--fc-second);
        transform: scale(1.03) translateY(-1px);
        transition: all 125ms ease-in-out;
      }

      .green {
        color: var(--fc-second);
      }

      .rotate-left {
        animation: rotateLeft 500ms ease-in-out 1200ms forwards;
      }

      @keyframes rotateLeft {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(-8deg);
        }
      }

      .fly-in {
        animation: animateFly 1s ease-in-out forwards;
      }

      @keyframes animateFly {
        from {
          transform: rotate(-180deg) translateX(-500px);
        }

        to {
          transform: rotate(0deg) translateX(0px);

        }
      }

    }

    a {
      text-align: center;
      text-decoration: none;
      color: var(--bg-cream);
      font-family: var(--ff-overpass);
      font-weight: 300;
      font-size: 1.5rem;
      transition: all 125ms ease-in-out;

      &:hover {
        color: var(--fc-second);
        transform: scale(1.03) translateY(-1px);
        transition: all 125ms ease-in-out;
      }
    }

    .legal-wrapper {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      gap: 10px;

      a {
        font-size: 1.0rem;
      }
    }
  }

}