<footer>

  <div class="footer-top">
    <div class="logo">
      <span class="green rotate-left">[</span>
      <span class="fly-in">S</span>
      <span class="fly-in">a</span>
      <span class="fly-in">S</span>
      <span class="fly-in">c</span>
      <span class="green rotate-left">]</span>
    </div>

    <div class="social-wrapper">
      <img class="email-logo" src="../../assets/img/logo-email.png" alt="">
      <img src="../../assets/img/logo-github.png" alt="">
      <img src="../../assets/img/logo-linkedin.png" alt="">
    </div>
  </div>

  <div class="footer-bottom">
    <a class="mpos-1" href="mailto:sascha@strandco.de">sascha@strandco.de</a>

    <div class="mpos-2 legal-wrapper">
      <a href="#">Legal notice</a>
      <a href="#">Privacy policy</a>
    </div>
    <div class="legal-wrapper mpos-3">
      <a href="#">&copy; Sascha Schröder 2023</a>
    </div>
  </div>


</footer>