footer {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;


  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;

    font-size: 1.5rem;
    font-family: var(--ff-overpass);
    font-weight: 900;
    color: var(--bg-cream);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(0deg);
    transition: all 250ms ease-in-out;

    .green,
    .rotate-left {
      color: var(--bg-cream);
      transform: rotate(0deg);
      transition: all 250ms ease-in-out;
    }

    &:hover {
      // color: var(--fc-second);
      transform: scale(1.03) translateY(-1px);
      transition: all 125ms ease-in-out;

      .green,
      .rotate-left {
        color: var(--fc-second);
        transform: rotate(-8deg);
        transition: all 125ms ease-in-out;
      }


    }
  }


  .social-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;

    img {
      height: 30px;
      object-fit: contain;
      transition: all 125ms ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--fc-second);
        transform: scale(1.03) translateY(-1px);
        filter: invert(42%) sepia(96%) saturate(808%) hue-rotate(130deg) brightness(101%) contrast(103%);
        transition: all 125ms ease-in-out;
      }
    }

    .email-logo {
      display: none;
    }
  }


  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    padding-top: 20px;
    font-family: var(--ff-overpass);
    color: var(--bg-cream);

    .mpos-1 {
      order: 1;
    }

    .mpos-2 {
      order: 2;
    }

    .mpos-3 {
      order: 3;
    }




    a {
      text-align: center;
      text-decoration: none;
      font-weight: 300;
      color: var(--bg-cream);
      font-size: 1.5rem;
      transition: all 125ms ease-in-out;

      &:hover {
        color: var(--fc-second);
        transform: scale(1.03) translateY(-2px);
        transition: all 125ms ease-in-out;
      }
    }

    .legal-wrapper {
      display: flex;
      justify-content: center;
      gap: 10px;

      a {
        font-size: 1.0rem;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .footer-top {
    .social-wrapper {

      .email-logo {
        display: flex;
      }
    }
  }

  .footer-bottom {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  .mpos-1 {
    display: none;
  }

  .mpos-2 {
    order: 3 !important;
  }

  .mpos-3 {
    order: 1 !important;
  }
}