<footer>
  <div class="logo-wrapper">
    <img src="../../assets/img/logo-github.png" alt="">
    <img src="../../assets/img/logo-email.png" alt="">
    <img src="../../assets/img/logo-linkedin.png" alt="">
  </div>

  <div class="footer-link-wrapper">
    <div class="logo">
      <span class="green rotate-left">[</span>
      <span class="fly-in">S</span>
      <span class="fly-in">a</span>
      <span class="fly-in">S</span>
      <span class="fly-in">c</span>
      <span class="green rotate-left">]</span>
    </div>
    <a href="mailto:sascha@strandco.de">sascha@strandco.de</a>
    <div class="legal-wrapper">
      <a href="#">Legal notice</a>
      <a href="#">Privacy policy</a>
    </div>


  </div>
</footer>