<section id="aboutMe" class="about-me">

  <div class="wrapper-left">
    <h2>About me</h2>
    <p>
      As a web developer, I'm passionate about bringing projects to life, especially when they help make the world a
      better place to live.
    </p>
    <p>
      I am currently looking for a junior web developer position with an agency that shares my respect and appreciation
      for nature.
      I am particularly interested in working with customers who are promoting the energy transition and preserving
      biodiversity.
    </p>
    <p>
      With my expertise as a forest scientist, I have a deep understanding of the crucial role played by natural
      ecosystems.
    </p>
    <p>
      I believe that my unique skill set and passion for these important issues make me a valuable asset to any team.
    </p>

  </div>

  <div class="wrapper-right">

    <div class="profile-wrapper">
      <div class="green-mouse"></div>
      <img src="./assets/img/portrait-removed-bg.png" alt="">
    </div>

    <div class="arrow-left-wrapper">
      <img src="./assets/img/mobile-arrow-left.png
      " alt="">
    </div>

  </div>
</section>