<section id="aboutMe" class="about-me">

  <div class="wrapper-left">
    <h2>About me</h2>
    <p>
      I am a passionate Frontend-Webdeveloper residing in Timmendorfer Strand. In my free time, I am an enthusiastic
      kitesurfer and fascinated by nature.
    </p>
    <p>
      In my previous position as Head of Sales & Online Marketing, I was responsible for the websites and social media
      channels. Based on that, I have completed an intensive training course in frontend web development over the past
      few months and successfully implemented several projects using Angular and JavaScript.
    </p>
    <p>

      Throughout my professional career, I have enjoyed taking on interdisciplinary tasks, which have allowed me to
      develop outstanding interface skills. This means that I am able to quickly familiarize myself with various areas
      of work and collaborate with other departments and teams. Through my interface skills, I can effectively analyze,
      organize, and optimize projects and processes.
    </p>
    <p>
      With my long-standing sales experience, I am able to assess products from a customer's perspective and improve the
      value proposition of a product.
    </p>

  </div>

  <div class="wrapper-right">

    <div class="profile-wrapper">
      <div class="green-mouse"></div>
      <img src="./assets/img/portrait-removed-bg.png" alt="">
    </div>

    <div class="arrow-left-wrapper">
      <img src="./assets/img/mobile-arrow-left.png
      " alt="">
    </div>

  </div>
</section>