<section id="aboutMe" class="about-me">

  <div class="wrapper-left">
    <h2>About me</h2>
    <p>
      I'm a front-end developer based in Timmendorfer Strand, Schleswig-Holstein. I enjoy bringing designers' and
      companies' ideas to life, especially those that contribute to climate action and the energy transition. I'm
      seeking a junior web developer position with a company passionate about sustainability and making a positive
      impact on the world. If you believe I'm a good fit for your projects, feel free to
      <a href="#contactMe">contact me</a>!
    </p>

  </div>

  <div class="wrapper-right">

    <div class="profile-wrapper">
      <div class="green-mouse"></div>
      <img src="./assets/img/portrait-removed-bg.png" alt="">
    </div>

    <div class="arrow-left-wrapper">
      <img src="./assets/img/mobile-arrow-left.png
      " alt="">
    </div>

  </div>
</section>