section.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;

  &:hover {
    h2 {
      transition: all 125ms ease-in-out;
      color: var(--fc-second);
    }

    .profile-wrapper {

      .green-mouse {
        animation: animateGreenMouse 4s ease-in-out 0ms 1 normal forwards;
      }
    }

    .arrow-left-wrapper {
      animation: connectArrowLeft 1.5s ease-in-out 3700ms infinite alternate;
    }
  }

  .wrapper-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .wrapper-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }


  h2 {
    font-family: var(--ff-syne);
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    // padding-top: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
    transition: all 125ms ease-in-out;
  }

  p {
    font-family: var(--ff-overpass);
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: var(--fc-second);
    }
  }



  .profile-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.151);
    position: relative;
    // background-color: rebeccapurple;

    img {
      width: 80%;
      max-width: 500px;
      object-fit: contain;
    }

    .green-mouse {
      // width: 0;
      // height: 0;
      // background-color: var(--fc-second);
      // background-color: black;
      position: absolute;
      top: 0;
      left: 0;


      @keyframes animateGreenMouse {
        from {
          background-color: var(--fc-second);
          height: 5px;
          width: 25%;
        }

        12% {
          width: 100%;
        }

        22% {
          height: 5px;
        }

        25% {
          width: 5px;
          left: unset;
          right: 0;
          top: 0;
        }

        37% {
          height: 100%;
          transform-origin: top;
        }

        47% {
          width: 5px;
          height: 25px;
        }

        50% {
          top: unset;
          left: unset;
          bottom: 0;
          right: 0;
          height: 5px;
          width: 0;
        }

        80% {
          transform-origin: right;
          width: 50%;
          height: 5px;
          bottom: 0;
          right: 0;
          top: unset;
          left: unset;
        }

        95% {
          transform-origin: left;
          bottom: 0;
          right: 50%;
          top: unset;
          left: unset;
          width: 5px;
          height: 5px;
          background-color: var(--fc-second);
        }

        to {
          width: 0;
          height: 0;
        }
      }

    }
  }

  .arrow-left-wrapper {
    display: flex;
    justify-content: center;
    margin-right: calc(50% - 75px);

    img {
      width: 150px;
      object-fit: contain;
      transition: all 125ms ease-in-out;

      @keyframes connectArrowLeft {
        from {
          transform: translate(0, 0);
        }

        to {
          transform: translate(-10px, 10px);
        }
      }

      ;
    }
  }

}

@media screen and (min-width: 765px) {
  section.about-me {
    flex-direction: row;
    align-items: flex-start;
  }
}