section.contact-form {
  background-color: black;
  color: coral;
  padding-top: 50px;
  padding-bottom: 50px;

  position: relative;



  h2 {
    font-family: var(--ff-syne);
    font-weight: 800;
    font-size: 2rem;
    color: var(--bg-cream);
  }

  h3 {
    font-family: var(--ff-overpass);
    font-weight: 700;
    font-size: 2rem;
    color: var(--fc-second);
    text-align: center;
  }

  p {
    font-family: var(--ff-overpass);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--bg-cream);
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;


    input,
    textarea {
      width: 100%;
      max-width: 500px;
      padding: 10px 20px;
      background-color: black;
      border: unset;
      border-bottom: 2px solid var(--bg-cream);
      color: var(--bg-cream);

      &::placeholder {
        color: var(--bg-cream);
      }

    }

    textarea {
      min-height: 100px;
    }

    input[type="button"] {
      background-color: transparent;
      width: 200px;
      border: 3px solid var(--bg-cream);
      cursor: pointer;
      transition: all 125ms ease-in-out;
      margin-top: 15px;

      &:hover {
        border: 3px solid var(--fc-second);
        color: var(--fc-second);
        transform: translateY(-2px);
        transition: all 125ms ease-in-out;

      }
    }
  }
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-cream);
  clip-path: polygon(0 -2px, 100% -2px, 100% 100px, 0 0);
}