<section class="pitch">

  <div class="phraseProfession">
    <h1>Frontend Developer</h1>
    <div class="phraseWrapper">
      <div class="black-line"></div>
      <div class="phraseName">
        Sascha Schröder
      </div>
    </div>
  </div>

  <div class="send-a-message">
    <button>Send a message</button>
  </div>

  <div class="pitch-footer-wrapper">

    <div class="email">
      <a class="rotate-90" href="mailto:sascha@strandco.de">
        sascha@strandco.de
      </a>
    </div>

    <div class="scroll-down">
      Scroll<br>Down
    </div>
  </div>
</section>