section.pitch {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .phraseProfession {
    padding-top: 50px;
    width: 100%;

    h1 {
      width: 100%;
      text-align: center;
      font-size: calc(10px + (7vw));
      margin-block-start: 0;
      margin-block-end: 0;
      font-family: var(--ff-syne);
      font-weight: 800;
      letter-spacing: -0.025rem;
    }

    .phraseWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      padding: 0 10vw;

      .black-line {
        height: 4px;
        width: 100%;
        background-color: black;

        animation: animateNameLine 1500ms ease-in-out 500ms 1 normal both;
        transform-origin: right;

        @keyframes animateNameLine {
          from {
            transform: scaleX(6) translateX(-1500px);
          }

          80% {
            transform: scaleX(0.3) translateX(10px);
          }

          to {
            transform: scaleX(1) translateX(0);
          }
        }

      }

      .phraseName {
        color: var(--fc-second);
        font-weight: 700;
        font-size: calc(20px + (2vw));
        font-family: var(--ff-overpass);
      }
    }
  }

  .send-a-message {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      border: 4px solid black;
      font-family: var(--ff-overpass);
      font-weight: 400;
      font-size: 1.5rem;
      padding: 10px 20px;
      background-color: transparent;
      cursor: pointer;
      transition: all 125ms ease-in-out;

      &:hover {
        border: 5px solid var(--fc-second);
        color: var(--fc-second);
        transform: translateY(-2px);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        transition: all 125ms ease-in-out;

      }
    }
  }

  .pitch-footer-wrapper {
    font-family: var(--ff-overpass);
    font-weight: 300;
    font-size: 1.5rem;

    padding-bottom: 20px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: relative;

    .email {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      transform-origin: left top;
      transform: translateY(100px) rotate(-90deg);
      height: 100px;

      a {
        font-family: var(--ff-overpass);
        font-weight: 300;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        padding-left: 5px;
        transition: all 125ms ease-in-out;

        &:hover {
          color: var(--fc-second);
          font-size: 110%;
          font-weight: 400;
          transition: all 125ms ease-in-out;
        }
      }
    }

    .scroll-down {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      position: relative;

      &:hover {
        .scroll-text {
          color: var(--fc-second);
          transform: scale(1.1);
          font-weight: 400;
          transition: all 125ms ease-in-out;
        }
      }

      .scroll-line {
        height: 100px;
        width: 4px;
        background-color: var(--fc-second);
        animation: animateScrollLine 1500ms ease-in-out 1000ms 1 normal both;
        transform-origin: bottom;

        @keyframes animateScrollLine {
          from {
            transform: scaleY(6) translateY(-1500px);
          }

          80% {
            transform: scaleY(0.3) translateY(10px);
          }

          to {
            transform: scaleY(1) translateY(0);
          }
        }
      }

      .scroll-text {
        cursor: pointer;
        text-decoration: none;
        color: black;
        transition: all 125ms ease-in-out;

      }
    }
  }
}

@media screen and (min-width: 765px) {
  section.pitch {

    .send-a-message {
      display: none;
    }

  }
}