<section class="pitch">

  <div class="start"></div>

  <div class="phraseProfession">
    <h1>Frontend<br>Developer</h1>
    <div class="phraseWrapper">
      <div class="black-line"></div>
      <div class="phraseName">
        Sascha&nbsp;Schröder
      </div>
    </div>
  </div>

  <div class="send-a-message">
    <button>Send a message</button>
  </div>

  <div class="pitch-footer-wrapper">

    <div class="email">
      <a class="rotate-90" href="mailto:sascha@strandco.de">
        sascha@strandco.de
      </a>
    </div>
    <div class="scroll-down">
      <div class="scroll-line"></div>
      <a href="#aboutMe" class="scroll-text">
        Scroll<br>Down
      </a>
    </div>
  </div>


</section>