section.portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    font-family: var(--ff-syne);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    width: 100%;
  }

  p {
    font-family: var(--ff-overpass);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
  }

  .black-frame {
    display: none;
    transition: all 125ms ease-in-out;
    position: absolute;
    top: 3%;
    left: 3%;
    border: 5px solid black;
    width: 100%;
    height: 100%;
  }

  .portfolio-wrapper {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 125ms ease-in-out;
    filter: grayscale(0.9);

    &:hover {
      filter: grayscale(0);

      .portfolio-description {
        visibility: visible;
        transition: all 125ms ease-in-out;
        animation: animateDescription 250ms ease-in-out 0s 1 normal forwards;
      }


      .black-frame {
        display: flex;
        transition: all 125ms ease-in-out;

        img {
          position: absolute;
          top: 0;
          right: 0;
          height: 50px;
          object-fit: contain;
        }
      }

      .portfolio-arrow {
        transition: all 125ms ease-in-out;
        bottom: calc(-3% - 25px);
        left: calc(53% - 25px);
        animation: animatePortfolioArrow 250ms ease-in-out 0s 1 normal forwards;

        @keyframes animatePortfolioArrow {
          from {
            transform: scale(0.3) rotate(0deg);
            opacity: 0.1;
          }

          to {
            transform: scale(1) rotate(180deg);
            opacity: 1;
          }
        }
      }

      .portfolio-image-wrapper {
        img {
          transition: all 125ms ease-in-out;
          filter: grayscale(0);
        }
      }
    }
  }


  .portfolio-wrapper:nth-child(even) {

    .portfolio-number {
      text-align: left;
    }

    .portfolio-image-wrapper {
      justify-content: flex-end;
    }

    .portfolio-container {
      flex-direction: column;
    }

    &:hover {

      .black-frame {
        display: flex;
        transition: all 125ms ease-in-out;
        left: unset;
        right: 3%;
      }

      .portfolio-arrow {
        transition: all 125ms ease-in-out;
        left: calc(47% - 25px);
      }
    }

  }



  .portfolio-number {
    font-family: var(--ff-syne);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 10px;
    width: 100%;
    text-align: right;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }


  .portfolio-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    transition: all 125ms ease-in-out;
    background-color: green;

    img {
      width: 100%;
      object-fit: cover;
      object-position: top left;
      filter: grayscale(0.9);
    }

    .portfolio-arrow {
      height: 50px;
      width: 50px;
      opacity: 0;

      position: absolute;

      bottom: calc(-3% - 25px);
      left: calc(53% - 25px);
    }
  }


  .portfolio-description {
    display: flex;
    visibility: visible;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;


    h3 {
      font-family: var(--ff-syne);
      font-size: 2.5rem;
      font-weight: 800;
      text-align: left;
      color: black;
      width: 100%;
      margin-block-end: 20px;
    }

    h4 {
      font-family: var(--ff-overpass);
      font-size: 1.5rem;
      font-weight: 400;
      text-align: left;
      color: var(--fc-second);
      width: 100%;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    p {
      font-size: 1rem;
    }

    .link-wrapper {
      display: flex;
      gap: 20px;
    }

    a {
      font-family: var(--ff-overpass);
      font-size: 1.5rem;
      font-weight: 400;
      border: 4px solid black;
      width: 150px;
      text-align: center;
      padding: 5px 15px 3px 15px;
      text-decoration: none;
      color: black;
      transition: all 125ms ease-in-out;


      &:hover {
        border: 4px solid var(--fc-second);
        color: var(--fc-second);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        transition: all 125ms ease-in-out;


      }
    }

  }

  @keyframes animateDescription {
    from {
      transform: translateX(-500px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }



  .arrow-left-wrapper {
    display: flex;
    justify-content: center;
  }
}




@media screen and (min-width: 765px) {
  section.portfolio {



    .arrow-left-wrapper {
      justify-content: flex-end;
      margin-right: 100px;
    }
  }
}

@media screen and (min-width: 1024px) {
  section.portfolio {

    .portfolio-container {
      display: flex;
      flex-direction: row;
    }

    .portfolio-wrapper {
      &:hover {

        .portfolio-arrow {
          transition: all 125ms ease-in-out;
          bottom: unset;
          left: calc(103% - 25px);
          top: calc(53% - 25px);

          animation: animateT 250ms ease-in-out 0s 1 normal forwards;

          @keyframes animateT {
            from {
              transform: scale(0.3) rotate(-90deg);
              opacity: 0.1;
            }

            to {
              transform: scale(1) rotate(90deg);
              opacity: 1;
            }
          }
        }
      }
    }

    .portfolio-wrapper:nth-child(even) {

      .portfolio-container {
        flex-direction: row-reverse;
      }

      &:hover {

        .portfolio-arrow {
          transition: all 125ms ease-in-out;
          bottom: unset;
          left: calc(-3% - 25px);
          top: calc(53% - 25px);

          animation: animateZ 250ms ease-in-out 0s 1 normal forwards;

          @keyframes animateZ {
            from {
              transform: scale(0.3) rotate(-90deg);
              opacity: 0.1;
            }

            to {
              transform: scale(1) rotate(180deg);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}