<section id="myPortfolio" class="portfolio">
  <h2>My portfolio</h2>
  <p>
    This page is a sample of my work - please feel free to try them out.
  </p>

  <div class="portfolio-wrapper">
    <div class="portfolio-number">project 01/03</div>
    <div class="portfolio-container">

      <div class="portfolio-image-wrapper">
        <img src="./assets/img/portfolio-image-dummy.png" alt="">
        <div class="black-frame"></div>
      </div>

      <div class="portfolio-description">
        <h3>Join</h3>
        <h4>JavaScript | CSS | HTML</h4>
        <p>Task manager inspired by the Kanban Sytem. Create and organize tasks using drag and drop functions, assign
          users and categories.
        </p>
        <div class="link-wrapper">
          <a href="#">GitHub</a>
          <a href="#">Link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-wrapper">
    <div class="portfolio-number">02/03</div>
    <div class="portfolio-container">

      <div class="portfolio-image-wrapper">
        <img src="./assets/img/portfolio-image-dummy.png" alt="">
        <div class="black-frame"></div>
      </div>

      <div class="portfolio-description">
        <h3>Join</h3>
        <h4>Angular | TypeScript | Firebase | HTML | CSS</h4>
        <p>Task manager inspired by the Kanban Sytem. Create and organize tasks using drag and drop functions, assign
          users and categories.
        </p>
        <div class="link-wrapper">
          <a href="#">GitHub</a>
          <a href="#">Link</a>
        </div>
      </div>
    </div>
  </div>




  <div class="arrow-left-wrapper">
    <img src="./assets/img/mobile-arrow-left.png
" alt="">
  </div>


</section>