<section id="myPortfolio" class="portfolio">
  <h2>My portfolio</h2>
  <p>
    This page is a sample of my work - please feel free to try them out.
  </p>

  <div *ngFor="let portfolio of portfolioData; let i = index;" class="portfolio-wrapper">
    <div class="portfolio-number"> {{ doubleDigit(i + 1) }}/{{ doubleDigit(portfolioData.length) }} </div>
    <div class="portfolio-container">

      <div class="portfolio-image-wrapper">
        <img src=" {{ portfolioData[i].portfolioImage }}" alt="">
        <div class="black-frame"></div>
        <img class="portfolio-arrow" src="./assets/img/portfolio-arrow.png" alt="">
      </div>

      <div class="portfolio-description">
        <h3>{{ portfolioData[i].portfolioTitle }}</h3>
        <h4>{{ portfolioData[i].portfolioSkills }}</h4>
        <p>{{ portfolioData[i].portfolioDescription }}</p>
        <div class="link-wrapper">
          <a href="{{ portfolioData[i].portfolioLink }}" target="_blank">LiveDemo</a>
          <a href="{{ portfolioData[i].portfolioLinkGitHub }}" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <div class="arrow-left-wrapper">
    <img src="./assets/img/mobile-arrow-left.png
" alt="">
  </div>


</section>