section.imprint {
  padding-top: 100px;
  padding-bottom: 50px;
  // background-color: cornflowerblue;
  font-family: var(--ff-overpass);

  p {
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: var(--fc-second);

    &:hover {
      text-decoration: underline;
    }
  }

}